<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}smart-analytics 网站分析{% endblock %}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>📈</text></svg>">
  <link rel="stylesheet" href="/static/css/style.css?v=2">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
